:root{
    --light-grey: rgb(33, 33, 33);
    --dark-grey: rgb(22, 22, 22);
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

body{
    font-family: 'Roboto', 'Arial', sans-serif;
    display: grid;
    grid-template-rows: 100px 75px 1fr 100px;
    padding: 0;
    margin: 0;
    color: white;
}

.white{
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(85deg) brightness(105%) contrast(101%);
}

.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content{
    height: calc(100vh - 275px);
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 1rem;
}

.main-block{
    width: 500px;
    border-radius: 16px;
    background-color: rgb(44, 44, 44);
}

.main-name h1, .main-temp h1{
    font-size: 4rem;
}

#location-name, #date-txt, #description-txt, #forecast-txt{
    text-align: center;
}

#weather-icon{
    height: 150px;
}

#weather-icon img{
    width: 250px;
}

.second-block{
    border: 0px solid red;
}

.main-block, .second-block{
    margin: 1rem 3rem 3rem;
}

.air, .future-forecast{
    margin-bottom: 1.5rem;
    border-radius: 16px;
    padding: 1rem;
    background-color: rgb(44, 44, 44);
}

.air h1, .future-forecast h1{
    margin-top: 0px;
}

.air-children{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.air-children div{
    width: 25%;
    padding: 1rem;
}

#humidity p, #wind-gust p, #wind-speed p, #wind-direction p{
    margin: 8px 0 0 0;
}

.forecast-children{
    display: flex;
    gap: 2rem;
}

.forecast-children div{
    width: calc(100%/7);
}

.search-container{
    display: flex;
}

#search-input{
    font-size: 1.5rem;
    width: 50vw;
    border-radius: 1rem;
    border: 1px solid rgb(224, 224, 224);
    padding: 8px;
}

#search-btn{
    background-image: url("./icons/magnify.svg");
    width: 3rem;
    border-radius: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor:pointer;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 65px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
  }
  .loader:before {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #fff;
    animation: l3 0.75s infinite alternate;
  }
  @keyframes l3 {
    0% {
      inset: 0 35px 0 0;
    }
    50% {
      inset: 0 0 0 0;
    }
    100% {
      inset: 0 0 0 35px;
    }
  }

.footer{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer p{
    margin-right: 3rem;
    margin: 0 3rem 0 0;
}

.no-margin-bot{
    margin-bottom: 0;
}

.no-margin-top{
    margin-top: 0;
}

.child{
    background-color: var(--light-grey);
    border-radius: 16px;
}

.light-grey{
    background-color: var(--light-grey);
}