.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.hidden{
    display: none !important;
}

.center-align{
    display: flex;
    align-items: center;
}

.white{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(193deg) brightness(109%) contrast(104%);
}

.green{
    filter: invert(75%) sepia(58%) saturate(1025%) hue-rotate(37deg) brightness(100%) contrast(111%);
}

.zero-margin{
    margin: 0;
}

.bold{
    font-weight: bold;
}

.img-width{
    width: 2.5rem;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 150px calc(100vh - 150px) / minmax(300px, 20%) 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main-content"
}

main, header{
    margin-right: 5rem;
}

.header{
    font-size: 3rem;
    border-bottom: solid 1px lightgray;
    margin-bottom: 16px;
    grid-area: header;
}

.header h1{
    font-size: 3rem;
}

#logo{
    content: url('./icons/list-box.svg');
    width: 3rem;
    margin-left: 16px;
}

.sidebar{
    background-color: rgb(76, 51, 104);
    color: white;
    grid-area: sidebar;
    margin-right: 32px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.app-title{
    margin-bottom: 0;
}

.projects-title{
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
}

.delete-project{
    background-image: url('./icons/trash-can.svg');
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    width: 2rem;
    border: none;
}

.sidebar h1{
    font-size: 2.5rem;
}

.project-dialog{
    bottom: 400px;
    border-radius: 16px;
    border: solid 2px rgb(76, 51, 104);
}

.project-form{
    gap: 8px;
    font-size: 1.5rem;
    font-weight: bold;
}

#create-project{
    font-size: 1.5rem;
    border-radius: 8px;
    border: solid 1px lightgray;
}

.task-container{
    justify-content: space-between;
}

.task-container, .add-task p{
    height: 4rem;
    font-size: 2rem;
}

.task-title, .task-date{
    gap: 16px;
}

.task-desc{
    margin: 0;
    padding: 0;
    height: 2.5rem;
}

.task-desc h3{
    font-size: 1.5rem;
}

.task-desc p{
    font-size: 1rem;
}

.add-task{
    border: none;
    background: none;
    padding: 0;
    width: 50%;
    font-size: 2rem;
    cursor: pointer;
}

.add-form{
    font-size: 2rem;
    justify-content: space-between;
    border: lightgray solid 1px;
    gap: 16px;
}

.add-form input, #project-select{
    border: solid lightgray 1px;
    border-radius: 8px;
    font-size: 1.5rem;
    width: 100%;
}

.add-form-title{
    width: 35%;
    margin-left: 56px;
}

.date-prio-btn{
    gap: 8px;
    justify-content: flex-start;
}

.select-container{
    display: flex;
}

.btn-container{
    display: flex;
    gap: 8px;
}

.btn-container button{
    width: 100px;
}

#title:invalid{
    border-color: red;
}

#date, #priority{
    width: 35%;
}

#date:invalid{
    border-color: red;
}

#priority, #add-button, #cancel-button, #project-select, #submit-project, #cancel-project{
    border: none;   
    border-radius: 16px;
    height: 2.5rem;
    font-size: 1.5rem;
}

#add-button, #submit-project{
    background-color: rgb(76, 51, 104);
    color: white;
}

main{
    grid-area: main-content;
}

ul{
    list-style: none;
}

li{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 8px;
    margin-left: 32px;
    margin-right: 8px;
    font-weight: 300;
    cursor: pointer;
}

button{
    cursor: pointer;
}
